@font-face {
  font-family: Shabnam;
  src: url("../../assets/fonts/Shabnam-FD.woff");
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

* {
  font-family: Shabnam;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.5rem;
}

.container {
  position: relative;
  width: 100%;
  justify-content: center;
  background: #f5f5f5;
}

.fixed-header{
  position: fixed !important; 
  top: 0;
  z-index: 67;
  transition: all 0.5s;
  animation: fixed_animation;
}
@keyframes fixed_animation{
  from{
    transform: translateY(-100%);
    opacity: 0;
  }
  to{
    transform: translateY(0%) ;
    opacity: 1;
  }
}

.header {
  width: 100%;
  height: 64px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 4px rgb(0 0 0 / 9%);
}

.main-header {
  display: flex;
  width: 91%;
  height: 100%;
  max-width: 1200px;
  align-items: center;
  justify-content: space-between;
  background-color: inherit;
}

.header .remain {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .else {
  display: flex;
  align-items: center;
  width: 94%;
  justify-content: space-between;
  height: 100%;
  background-color: inherit;
}

.header .else.else-active {
  transform: translateX(0);
  display: flex;
}

.header .navbar {
  display: flex;
  max-width: 660px;
  height: 100%;
  list-style-type: none;
  margin: 0 1.5rem;
}

.header .navbar li {
  height: 100%;
  position: relative;
}

.header .navbar li a {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-decoration: none;
  font-size: 1.5rem;
  color: #000000;
}

.header .navbar li a::before {
  content: "";
  position: absolute;
  top: 0;
  width: 0%;
  height: 2px;
  background-color: #2c9564;
  transition: 0.3s;
}

.header .navbar li a:hover::before {
  width: 100%;
  color: #2c9564;
}

.header .navbar li:hover a {
  color: #2c9564;
}

input {
  height: 100%;
  outline: none;
  border: none;
  font-size: 1.2rem;
  color: #000;
  width: 80%;
}

.search-bar {
  display: flex;
  overflow: hidden;
  height: 10%;
  max-width: 260px;
  justify-content: end;
  align-items: center;
  border: 1px solid #eeeeee;
  border-radius: 20px;
  transition: 0.4s;
  background: #fff;
  position: relative;
}

.header header .search-bar {
  height: 60%;
}

.header header .search-bar {
  width: 20%;
}

.search-bar label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 33px;
  width: 20%;
  background: #fff;
  border: none;
  border-radius: 50%;
}

.search-bar .fa {
  text-align: center;
}

.search-bar:focus-within {
  box-shadow: 0 0 0 1px #58c383;
  color: #000000;
}

/* -------------------dropdown styles------------ */
.dropdown {
  margin-right: 0.8rem;
  position: relative;
  min-width: 7rem;
  background-color: inherit;
}

.select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
  cursor: pointer;
}

.select .caret {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #000;
  transition: 0.5s;
}

.options {
  width: 150%;
  position: absolute;
  list-style: none;
  top: 40px;
  right: -0.5rem;
  z-index: 99999;
  transform: translateY(-100%);
  opacity: 0;
  display: none;
  background-color: inherit;
  border-radius: 0.5rem;
}

.options--active {
  transform: translateY(0);
  opacity: 1;
  display: block;
}

.option {
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.5s;
}

.options li:hover {
  background-color: #58c383;
  color: #fff;
}

.caret-rotate {
  transform: rotate(180deg);
}

.option--active {
  background-color: #58c383;
  color: #fff;
}



.menu {
  display: none;
}

.page-top {
  width: 100%;
  height: 284px;
  background: linear-gradient(99.54deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.7) 72.01%),
    #2c9564;
  display: flex;
  justify-content: space-evenly;
}

.page-top .mother {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 1400px;
}

.image {
  width: 16px;
  height: 16px;
}

.contact a {
  background: #fafafa4d;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.75rem;
  transition: 0.5s;
}

.contact a:hover {
  transform: scale(1.2);
}

.head {
  height: 100%;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

h1 {
  font-size: 7rem;
  color: #fafafa;
}

.page-top .row {
  display: flex;
  justify-content: space-between;
  margin-right: 75px;
}

.page-top .row .contact {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.row p a:not(:last-child)::after {
  content: "/";
  color: #999999;
}

.row p a {
  text-decoration: none;
  color: #999999;
  transition: 0.3s;
}

.row p a:hover,
.row p a:first-child {
  color: #fff;
}

.row p {
  color: #999999;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.content article {
  width: 90%;
  max-width: 970px;
  height: 300px;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  margin-top: 28px;
  border-radius: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  transition: 0.5s;
}

.inner {
  padding: 24px;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.passage {
  height: 100%;
  overflow: hidden;
}

article .content--img {
  border-radius: 0 1em 1em 0;
  width: 40%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

article .content--img img {
  height: 100%;
}

.passage-header {
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.passage-link {
  font-size: 1.2rem;
  font-weight: 400;
  border-radius: 1em;
  padding: 4px 12px;
  background-color: #eeeeee;
  color: #999999;
  cursor: pointer;
  transition: 0.5s;
}

.passage-link:hover,
.passage-header .passage-list li a:hover {
  color: #fff;
  background-color: #2c9564;
}

.passage-list {
  height: 100%;
  width: max-content;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  gap: 10px;
}

.passage-list li {
  border: 1px solid #eeeeee;
  border-radius: 1em;
  background-color: #eeeeee;
}

.passage-header .passage-list li .passage-link {
  text-decoration: none;
  color: #999999;
  height: 100%;
  font-style: normal;
  font-size: 1.4rem;
  align-items: center;
  font-weight: 500;
  display: grid;
}

.passage-left {
  color: #666666;
  display: flex;
  justify-content: end;
}

.passage-bottom {
  height: 60%;
}

h3 {
  height: 20%;
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 500;
  margin: 12px 0;
}

.passage .passage-bottom p {
  font-size: 1.4rem;
  color: #666666;
  font-style: normal;
  font-weight: 300;
  line-height: 2;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.passage-footer {
  height: 17%;
  position: relative;
  display: flex;
  justify-content: center;
}

.passage-footer-link {
  font-size: 1.6rem;
  text-decoration: none;
  color: #2c9564;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  transition: 0.5s;
}

.content article:hover {
  transform: scale(1.03);
}
/* ----------------------backtotop------- */

.top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  max-width: 1400px;
  cursor: pointer;
  opacity: 0;
  transform: translateX(100%);
  transition: .5s;
}

.Back_To_Top {
  opacity: 1;
  transform: translateX(0);
}

.go-to-top i {
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  border: none;
  border-radius: 50%;
  background-color: #58c383;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-footer ul li a .fa {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 9rem;
}

.content-footer ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.content-footer ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.content-footer ul li a {
  text-decoration: none;
  font-size: 1.8rem !important;
  color: #666666;
  width: 3.7rem !important;
  height: 3.7rem !important;
  border: 1.5px solid #ccc;
  border-radius: 50%;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active2,
.content-footer ul li a:hover {
  background-color: #58c383;
  color: #fff !important;
  border: #58c383 !important;
}

.footer-container {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr {
  width: 100%;
  background-color: #f5f5f5;
}

.footer,
.footer-bottom {
  width: 90%;
  max-width: 1200px;
  margin: 1.5rem;
}

.footer-bottom p {
  text-align: center;
  color: #666666;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-top-right,
.footer-top-left {
  width: 45%;
  line-height: 2.5;
}

.bala {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-weight: 800;
}

.paeen ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, 150px));
  gap: 20px;
}

.paeen ul li {
  width: max-content;
}

.paeen ul li .fa {
  font-size: 1.2rem;
  color: #2c9564;
}

.paeen p a {
  color: #58c383;
}

.paeen ul li a,
.paeen p {
  text-decoration: none;
  color: #666666;
}

.paeen ul li a {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.paeen ul li a:hover {
  color: #2c9564;
}

.paeen .social-icon {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.75rem;
  margin: 1.5rem 0;
}

.paeen .social-icon .la {
  padding: 0.75rem;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 5px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
}

.paeen .social-icon .la:hover {
  transform: scale(1.1);
}

.paeen .social-icon .fa-telegram {
  background-color: #219dd3;
  color: #fff;
}

.paeen .social-icon .fa-instagram {
  background-color: #dc316e;
  color: #fff;
}

.paeen .social-icon .fa-twitter {
  background-color: #2aa9e0;
  color: #fff;
}

.paeen .social-icon .fa-microphone {
  background-color: #ffa048;
  color: #fff;
}